##############################
## Folders                  ##
##############################
target
.settings

##############################
## file                  ##
##############################
.project
.classpath
##############################
## Netbeans conf            ##
##############################
nb-configuration.xml